<section class="quem_somos">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag "cloud-smartphone.png", class: "img-responsive img-cloud" %>
      </div>
      <div class="col-xs-6">
        <br>
        <h1>Quem Somos</h1>
        <br/>
        <br/>
        <p>
          <strong>ronaldosurdi</strong> é um moderno sistema web para envio de <strong>SMS</strong>. Agora ficou fácil e rápido enviar <strong>SMS</strong> simples ou em massa ao seu público-alvo (clientes, parceiros, colaboradores).
          O seu banco de dados pode ser cadastrado manualmente no sistema ou importado de uma base pré-existente, facilitando o disparo.
          Podendo ser acessado de qualquer computador, tablet ou smartphone conectados à internet.
        </p>
        <br/>

        <h3>Nosso Sistema</h3>
        <ul>
          <li>Sistema fácil de se utilizar com acesso web de qualquer computador, tablet ou smartphone;</li>
          <li>Permite envio de SMS simples ou em massa;</li>
          <li>Ferramenta de agendamento dos envios;</li>
          <li>Gestão de contatos e grupos;</li>
          <li>Gestão de mensagens (salva mensagens na plataforma);</li>
          <li>Gestão de contas e subcontas;</li>
          <li>Velocidade de envio dos SMS;</li>
          <li>Emissão de relatórios.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
