<section class="solucoes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br/>
        <h1>Soluções personalizadas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <br/>
        <ul class="list-large">
          <li>Avisos, informativos;</li>
          <li>Cobrança, comunicados;</li>
          <li>Promoções, cupons de descontos;</li>
          <li>Chamadas para acesso com link direto;</li>
          <li>Cobrança, comunicados;</li>
          <li>Datas comemorativas (Natal, aniversário, etc.);</li>
          <li>Campanhas (eleitoral, vacinação, etc);</li>
          <li>Além de diversas outras aplicações.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
