<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br>
        <h2>Política e Privacidade</h2>
        <br/><br/>
      </div>
      <div class="col-xs-7">
        <p>A ronaldosurdi tem como princípio o respeito à sua privacidade. Portanto, sugerimos que você leia estes termos de uso, onde esclarecemos  itens de seu interesse, como: segurança de acesso, registro de informações, direito de propriedade, entre outros.</p>
        <p>A ronaldosurdi permite o uso de sistema on-line, de acordo com os termos abaixo relacionados: <br> Cópias não autorizadas: somente um representante autorizado poderá comercializar o sistema ronaldosurdi.</p>
        <br>
        <p><strong>Obrigações para registro</strong></p>
        <p>Caso você venha a ser um cliente, parceiro, colaborador ou venha ter qualquer outro vínculo com nossa empresa, você será cadastrado para acesso às nossas ferramentas on-line e para tanto você concorda que irá fornecer informações verdadeiras, exatas e atualizadas. Caso contrário a ronaldosurdi se reserva o direito de suspender ou terminar sua conta e recusar o registro posterior em quaisquer dos serviços disponíveis.</p>
        <br>

        <p><strong>Senha de segurança e acesso</strong></p>
        <p>Uma vez registrado, você terá um login e senha de membro para acesso às ferramentas on-line. Você é responsável por manter a confidencialidade de sua senha, sendo inteiramente responsável por todas as atividades que ocorrerem através do uso de sua senha pessoal. Você concorda que irá notificar imediatamente a ronaldosurdi, de todo e qualquer comprometimento de segurança da sua senha, para que a mesma seja trocada. ronaldosurdi não se responsabiliza em nenhuma hipótese por qualquer dano que o uso indevido de sua senha venha causar.</p>
        <br>

        <p><strong>Modificações do site e ferramentas online</strong></p>
        <p>A ronaldosurdi se reserva o direito de a qualquer momento promover modificações, interromper, suspender temporariamente ou permanentemente, o serviço (ou qualquer parte dele) com ou sem aviso prévio. Você concorda que a ronaldosurdi não será responsável por qualquer dano que a suspensão do serviço venha a causar a você ou a terceiros.</p>
        <br>

        <p><strong>Direito de propriedade</strong></p>
        <p>Você reconhece e concorda que o sistema contido neste site e suas ferramentas on-line contêm informações proprietárias e confidenciais que são protegidas pelas leis de propriedade intelectual e que qualquer informação relativa a terceiros (marcas registradas, marcas de serviço, patentes, etc) que este site e suas ferramentas on-line possam conter (em propagandas, artigos ou notícias, etc), estão protegidas pelas leis de direito autoral ou outros direitos proprietários, não podendo ser copiadas, modificadas, distribuídas ou vendidas por qualquer meio eletrônico ou não, exceto quando expressamente autorizado por escrito pelo detentor legal da informação.</p>
        <br>

        <p><strong>Precauções de uso</strong></p>
        <p>A ronaldosurdi recomenda que você utilize o sistema online para fortalecer o relacionamento com o cliente de uma forma a respeitar todos os os seus direitos.</p>
        <br>

        <p><strong>Cuidados de confidencialidade e segurança</strong></p>
        <p>Procuramos tomar os cuidados ao nosso alcance para proteger os seus dados contra acesso, perda ou alterações indevidas. Para tanto, dependemos de recursos assegurados por terceiros, e nos deparamos com as limitações que o ambiente da Internet oferece a cada momento, no tocante a vírus, invasões, pichações, paralisações, etc.</p>
        <br>

        <p>A ronaldosurdi não mantém seguro contra incidentes passíveis de ocorrer no ambiente da Internet, por isso você deve procurar contratar, por sua conta, os seguros que entender apropriados.</p>
        <br>

        <p>Cabe exclusivamente à você a responsabilidade por optar, com seus conhecimentos ou buscando a assessoria de terceiros, sobre a conveniência de utilizar o Site e as Ferramentas do Sistema ronaldosurdi nesse contexto, considerando inclusive as regras e advertências aqui previstas.</p>
        <br>
      </div>
    </div>
  </div>
</section>
