<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
<%- attributes.each do |attribute| -%>
    <div class="row">
      <div class="col-md-5">
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      </div>
      
    </div>

<%- end -%>

    <%%= f.submit "", class: "hide" %>
  </div>
<%% end %>
